# Odoo
ODOO_URL=http://localhost:8069
ODOO_DB=restaurantes_demo
ODOO_USER=admin
ODOO_PASSWORD=admin

# Firebase
GOOGLE_APPLICATION_CREDENTIALS=./serviceAccountKey.json
FIREBASE_PROJECT_ID=tu-proyecto-firebase

# App config
ORG_ID=org_demo_001
BRANCH_ID=branch_main_001
SECRET_KEY=cambiar-en-produccion

# PagueloFácil
PAGUELOFACIL_CCLW=
PAGUELOFACIL_TOKEN=
PAGUELOFACIL_ENV=sandbox
PAGUELOFACIL_WEBHOOK_SECRET=

# Server
HOST=0.0.0.0
PORT=8000
RELOAD=true
LOG_LEVEL=info
